.page-section-heading
  .container
    #section_header.heading
      %h2 IVRS Dashboard 
.pull-right
  %strong
    Last updated : 
  = @last_updated      
.tabs
  %ul.tabs-nav
    %li.current{"data-tab" => "tab-one", id: "school"} School
    %li{"data-tab" => "tab-one", id: "pre-school"} Pre school    
  #tab-one.tabs-content.current
    .circular_count_item
      .row{style: "margin-top:15px;"}
        .col-sm-3{style: "margin-top:40px;"}
          %div#dashboard-info
            %p#num_response_this_week_n.value
              =@stat_value["sch_count"]
            %p#value-info Total Responses

        .col-sm-3{style: "margin-top:40px;"}
          %div#dashboard-info
            %p#num_response_yest_n.value
              =@stat_value['sch_yest']
            %p#value-info No. of response yesterday


        .col-sm-6
          %center
            %strong Number of Responses
          #bar-chart

      %hr
      .row
        .col-sm-3
          %center
            Select District
          %p
          #map

        .col-sm-9
          .row
            .col-sm-3
              School type

            .col-sm-3
              #qt1
                Question - 1

            .col-sm-3
              #qt2
                Question - 2

            .col-sm-3
              #qt3
                Question - 3

          .row
            .col-sm-3
              %p
                #type

            .col-sm-3
              %p
                #question1

            .col-sm-3
              %p
                #question2

            .col-sm-3
              %p
                #question3

          .row
            .col-sm-3
              #reset-link
            .col-sm-3
              #qt4
                Question - 4

            .col-sm-3
              #qt5
                Question - 5

            .col-sm-3
              #qt6
                Question - 6

          .row
            .col-sm-3
              %table.table.table-condensed.table-striped#select-list
                %th#block-select Block
                %tr
                  %td
                    %select#listBlocksChosen{style:"width:150px"}
                      %option{:value => "select_block"} Select none
                %tr
                  %th#cluster-select Cluster
                %tr
                  %td
                    %select#listClustersChosen{style:"width:150px"}
                      %option{:value => "select_cluster"} Select none

            .col-sm-3
              %p
                #question4

            .col-sm-3
              %p
                #question5

            .col-sm-3
              %p
                #question6
      .row
        .col-sm-12
          %table.table.table-hover{id: "response-list"}
            %thead
              %tr.header
                %th Date
                %th#table-block-header Block
                %th#table-cluster-header Cluster
                %th School Name
                %th Q1
                %th Q2
                %th Q3
                %th Q4
                %th Q5
                %th Q6

:javascript
  $(document).ready(function() {
    stat_value = #{@stat_value.to_json};
    ruby_data = #{@dashboard.to_json};
    dashboardChartInit(ruby_data,#{@questions.to_json});
  });
