.page-section-heading
  .container
    #section_header.heading
      %h2 Dashboard

.tabs
  %ul.tabs-nav
    %li.current{"data-tab" => "tab-one"} Pre school
    %li{"data-tab" => "tab-two"} School
  #tab-one.tabs-content.current
    %p This is Pre school content
  #tab-two.tabs-content
    %p This is school content
