#dashboard-info {
  background-color: #3a87ad;
  border-width: 2px;
  width: 100%;
  height: 90px;
  border-color: white;
}
#dashboard-info .value {
  padding-top: 15px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 52px;
}
#dashboard-info #value-info {
  margin-top: -10px;
  text-align: center;
  color: white;
  font-size: 16px;
}

#pre-school-bar-chart {
  font-weight: 400;
  font-size: 12px;
}

.dc-chart .brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.dc-chart .brush .resize path {
  fill: #eee;
  stroke: #666;
}

.dc-chart .axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dc-chart rect.deselected {
  stroke: none;
  fill: #ccc;
}
.dc-chart rect.bar {
  stroke: none;
  cursor: pointer;
}

svg path, select {
  cursor: pointer;
}

#map path {
  stroke: black;
  stroke-opacity: .1;
}

.dc-chart .pie-slice :hover {
  fill-opacity: .8;
}
.dc-chart g.selected path {
}
.dc-chart .selected path {
  stroke-width: 3;
  stroke: #f7f7f7;
  fill-opacity: 1;
}

.dc-chart g.deselected path {
  fill-opacity: .2;
}
.dc-chart .deselected path {
  stroke: none;
  fill-opacity: .2;
}