#dashboard-info {
  background-color: #ffffff;
  border-width: 2px;
  width: 100%;
  height: 90px;
  border-color: white;
}
#num_response_this_week_n hr {
  width:70px;
  color:#1BAE5A;
  margin: 0 auto;
}
#dashboard-info .value {
  padding-top: 15px;
  text-align: center;
  font-weight: 100;
  font-size: 52px;
}
#dashboard-info #num_response_this_week_n {
  color: #1BAE5A;
}
#dashboard-info #num_response_yest_n {
  color: #6f6fB8;
}
#num_response_this_week_hr {
  border:1px solid #1BAE5A;
  background: #1BAE5A;
  margin: 0 auto;
}
#num_response_yest_hr {
  border:1px solid #6f6fB8;
  background: #6f6fB8;
  margin: 0 auto;
}

#dashboard-info #value-info {
  margin-top: -10px;
  text-align: center;
  color: #66727f;
  font-size: 16px;
}

#pre-school-bar-chart {
  font-weight: 400;
  font-size: 12px;
}

.dc-chart .brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.dc-chart .brush .resize path {
  fill: #eee;
  stroke: #666;
}

.dc-chart .axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dc-chart rect.deselected {
  stroke: none;
  fill: #ccc;
}
.dc-chart rect.bar {
  stroke: none;
  cursor: pointer;
  fill: #3892E3;
}

svg path, select {
  cursor: pointer;
}

#map path {
  stroke: black;
  stroke-opacity: .1;
}

.dc-chart .pie-slice :hover {
  fill-opacity: .8;
}
.dc-chart g.selected path {
}
.dc-chart .selected path {
  stroke-width: 3;
  stroke: #f7f7f7;
  fill-opacity: 1;
}

.dc-chart g.deselected path {
  fill-opacity: .2;
}
.dc-chart .deselected path {
  stroke: none;
  fill-opacity: .2;
}

.dc-table-group {
  display: none;
}

.grid-line {
    display: none;
}

rect {
  pointer-events: none;
}

g text {
 pointer-events: none;
}

tr.header {
  background: #F6F6F6;
}

.table-header {
  background: #5280C2;
  color: white;
  text-align: center;
  height: 40px;
  font-size: 14px;
  line-height: 3em;
}

select {
  background: none;
}