!!!
%html
  %head
    %title IVRS Dashboard - Karnataka Learning Partnership
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body    
    .container.ta_c.mar_top_25
      =image_tag "klp_logo_light.png", alt: "KLP", width: "160"

    .container  
      = yield

    .container  
      %footer.main-footer
        .footer-wrapper
          %nav.nav
            %ul
              %li
                %a{:href => "http://klp.org.in/text/aboutus", :title => "", :target => "_blank"} About
              %li
                %a{:href => "mailto:team@klp.org.in", :title => ""} Contact
              %li.hidden-phone.hidden-tablet
                %a{:href => "http://www.facebook.com/klpdotorg", :target => "_blank"} Facebook
              %li.hidden-phone.hidden-tablet
                %a{:href => "https://twitter.com/KLPsays", :target => "_blank"} Twitter
              %li.hidden-phone.hidden-tablet
                %a{:href => "http://blog.klp.org.in/feeds/posts/default", :target => "_blank"} RSS Feed
              %li.hidden-phone.hidden-tablet
                %a{:href => "http://www.youtube.com/user/klpdotorg", :target => "_blank"} You Tube
              %li.hidden-phone.hidden-tablet
                %a{:href => "http://klp.org.in/map", :title => "", :target => "_blank"} School Map
              .clr
          .copyright Copyright 2013. All Rights Reserved.
